<%= form_for(character) do |f| %>
  <%= f.error_messages %>
  <div id="race">
    <%= f.label :race %><br />
    <%= f.select :race_id, @races %>
  </div>
  <%= button_to "Update", :remote => true, :update => 'table', :url => {:action => "update_race", :id => character.id}, 
        :with => "'race_id=' + escape(value)" %>

  
  <table id="table">
    <%= render(:partial => "table", :object => character)%>
  </table>
<% end %>
