<td><%= label :character, :dexterity %></td>
<td><%= label :character, @character.dexterity %></td>
<td><%=h @character.race.dex_mod %></td>
<td><%=h @character.aDex %></td>
<td><%=h @character.points("dexterity") %></td>
<td><%= button_to "-", :remote => true, :update => "dex", :url => { :action => "stat_dec", :id => @character.id, :stat => "dexterity" } %></td>
<td><%= button_to "+", :remote => true, :update => "dex", :url => { :action => "stat_inc", :id => @character.id, :stat => "dexterity"  } %></td>
