<td><%= label :character, :wisdom %></td>
<td><%= label :character, @character.wisdom %></td>
<td><%=h @character.race.wis_mod %></td>
<td><%=h @character.aWis %></td>
<td><%=h @character.points("wisdom") %></td>
<td><%= button_to "-", :remote => true, :update => "wis", :url => { :action => "stat_dec", :id => @character.id, :stat => "wisdom" } %></td>
<td><%= button_to "+", :remote => true, :update => "wis", :url => { :action => "stat_inc", :id => @character.id, :stat => "wisdom"  } %></td>
